<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ url_for('theme.static', filename='favicon.ico')}}"/>
    <link href="{{ url_for('theme.static', filename='fedora-bootstrap.min.css')}}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://apps.fedoraproject.org/global/fedora-bootstrap-fonts/open-sans.css">
    {% block header %}{% endblock %}
    <style>
        .footer a{
	color:#aaa
  }
  
  .footer{
	font-size:0.8em;
  }
  
  .footer h3{
	font-size:1.3em;
	font-weight: bold;
	text-transform: uppercase;
  }
        </style>
  </head>
  <body>
  <!-- start masthead -->
    <div class="masthead">
        <div class="container">
            <nav class="navbar navbar-light m-0 justify-content-between">
                <a href="{{ url_for('index') }}">
                    <img height=40px src="{{ url_for('theme.static', filename='cas_logo.png') }}" alt="cas Logo" id="caslogo"/>
                </a>
                {% if g.fas_user %}
                <div class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" id="dropdownMenu2" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="https://seccdn.libravatar.org/avatar/de5bf8d06663adb3bb1b8d49ccab259828fad7dddeb233b073d0c447d79b4c14?s=24&d=retro"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2" style="right:0;left:auto;">
                        <div class="dropdown-header">
                            <strong>{{ g.fas_user.username }}</strong>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('logout') }}?next={{ request.url }}">Log Out</a>
                    </div>
                </div>
                {% else %}
                <a class="btn btn-primary my-2 my-sm-0" href="{{ url_for('login') }}?next={{ request.url }}">Log In</a>
                {% endif %}
            </nav>
        </div>
    </div><!-- close masthead-->

    <div class="bodycontent p-b-3">
        <div class="container">
            {% block content %}{% endblock %}
            </div>
    </div>

    <div class="footer text-white">
            <div class="foot">
                    <div class="container py-4">
                        <div class="row footerlinks">
                            <div class="col-sm-2 col-xs-4 mt-3 widget">
                                <h3 class="widget-title">About</h3>
                                <div class="widget-body">
                                    <dl>
                                        <dd><a href="https://getfedora.org/">Get Fedora</a></dd>
                                        <dd><a href="https://getfedora.org/en/sponsors">Sponsors</a></dd>
                                        <dd><a href="https://fedoramagazine.org">Fedora Magazine</a></dd>
                  <dd><a href="https://fedoraproject.org/wiki/Legal:Main#Legal">Legal</a></dd>
                                    </dl>
                                </div>
                            </div>
          
                            <div class="col-sm-2 col-xs-4 mt-3 widget">
                                <h3 class="widget-title">Support</h3>
                                <div class="widget-body">
                                    <dl>
                                        <dd><a href="https://fedoraproject.org/wiki/Communicating_and_getting_help">Get Help</a></dd>
                                        <dd><a href="https://ask.fedoraproject.org/">Ask Fedora</a></dd>
                                        <dd><a href="https://fedoraproject.org/wiki/Common_F27_bugs">Common Bugs</a></dd>
                                        <dd><a href="https://developer.fedoraproject.org/">Fedora Developer Portal</a></dd>
                                    </dl>
                                </div>
                            </div>
          
                            <div class="col-sm-2 col-xs-4 mt-3 widget">
                                <h3 class="widget-title">Community</h3>
                                <div class="widget-body">
                                    <dl>
                                        <dd><a href="https://fedoraproject.org/wiki/Join">Join Fedora</a></dd>
                                        <dd><a href="https://fedoraproject.org/wiki/Overview">About Fedora</a></dd>
                                        <dd><a href="http://fedoraplanet.org">Planet Fedora</a></dd>
                                        <dd><a href="https://admin.fedoraproject.org/accounts/">Fedora Account System</a></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 widget text-right">
                                <a href="https://www.facebook.com/TheFedoraProject" class="btn-social btn-outline"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
                                <a href="https://plus.google.com/112917221531140868607" class="btn-social btn-outline"><i class="fa fa-fw fa-2x fa-google-plus"></i></a>
                                <a href="https://twitter.com/fedora" class="btn-social btn-outline"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
                                <p class="pt-3"> 
                                  &copy; 2018 Red Hat, Inc. and others.</a>
                                </p>
                                <p>
                                  Fedora is sponsored by Red Hat. <br/>
                                  <a href="https://www.redhat.com/en/technologies/linux-platforms/articles/relationship-between-fedora-and-rhel">Learn more about the relationship between Red Hat and Fedora &raquo;</a>
                                </p>
                                <div class="widget-body">
                                  <a href="https://www.redhat.com/"><img height="50px" class="rh-logo" src="{{ SITEURL }}/theme/redhat-logo.png" alt="Red Hat Logo" /></a>
                                </div>
                            </div>
                        </div> <!-- /row of widgets -->
                  </div>
              </div>
    </div>

    {% block jscripts %}
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="{{ url_for('theme.static', filename='fedora-bootstrap.min.js')}}">
    </script>
    {% endblock %}

</body>
</html>
